html
	header
		h1 DreiHeiligenGestalten
		p Kreativpool
	section.feature
		figure.Imagegrid__wrapper
			.Imagegrid__item
				span.Grid--overlay sexy
				img(src="img/01.jpg")
		figure.Wrapper__vimeo
			iframe(src="https://player.vimeo.com/video/173459125" webkitallowfullscreen mozallowfullscreen allowfullscreen)

	section
			each val in [1,2,3,4,5,6]
				.Grid
					span.Grid--overlay= val
						i.ion-ionic
					img(src='http://loremflickr.com/960/540')

